{
    "plugins": ["prettier-plugin-tailwindcss"],
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "bracketSameLine": true
}
